<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shrotener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
 
      
        <p class="alert alert-info"> Don't forget to add https:// or http://, for example: https://www.google.com</p><br>
   
        <div class="container-md">
            <br/>
            <form action="/api/shorturl" method='POST' >
                <label for="fullURL" class="form-label ">URL Shortener:</label>
                <input type="text" required type="url" name='fullURL' id='fullURL' class="form-control"><br>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </main>
    
   

    
</body>
</html>